<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link rel="stylesheet" href="/Styles/landing.css">

</head>
<body>

    <div class="menu">
        <a href="/landing" class="active">Home</a>
        <a href="#">Search Member</a>
        <a href="#">Saving Account</a>
        <a href="#">FD A/C</a>
        <a href="#">MIS Account</a>
        <a href="#">Quick Access</a>
        <a href="#">PIGMY / DD A/C</a>
        <a href="#">Member's 888</a>
        <a href="#">Deposits</a>
        <a href="#">Loans</a>
        <a href="#">Loan Account</a>
        <a href="#">Utility Service</a>
        <a href="#">Change Password</a>
        <a href="#">Change PIN</a>
        <a href="#">Report</a>
        <a href="#">Print Area</a>
        <a href="#">Print Report</a>
    </div>
    
</body>
</html>